.navbar {
  background-color: white;
  height: 5.5rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

body {
  font-family:'Montserrat', sans-serif;
}

#text-rodape {
  color: #6c757d!important;
  text-align: center;
}

#text-header {
  text-align:center!important;
  font-size: 22px;
}